/*
The MIT License

Copyright 2015 jean-david.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/*
    Created on : Mar 24, 2015, 6:23:50 PM
    Author     : jean-david
*/

@import url(http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps);

/* Brand colors variables
-------------------------------------------------- */

@brand-primary:                    #990000;
@brand-secondary:                  #E4AF37;
@brand-third:                      #df0647;
@brand-main-font-color:            #fff;
@brand-links-color:                #994d00;
@gray-base:                        darken(@brand-secondary, 50%);
/* Links
-------------------------------------------------- */
@link-color :                      @brand-secondary;
@link-hover-color :                darken(@brand-secondary, 6.5%);
/* Buttons
-------------------------------------------------- */
@btn-primary-border:               @brand-third;

/* Navbar
-------------------------------------------------- */

@navbar-default-border:  @btn-primary-border;
@navbar-default-color: #fff;
@navbar-default-link-color: @navbar-default-color;
// Basics of a navbar
@navbar-height:                    60px;
@navbar-margin-bottom:             @line-height-computed;
@navbar-border-radius:             @border-radius-base;
@navbar-padding-horizontal:        floor((@grid-gutter-width / 2));
@navbar-padding-vertical:          ((@navbar-height - @line-height-computed) / 2);
@navbar-collapse-max-height:       340px;

@navbar-default-color:             @brand-main-font-color;
@navbar-default-bg:                @brand-primary;
@navbar-default-border:            @brand-third;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-color;
@navbar-default-brand-hover-bg:            transparent;

// Navbar links
@navbar-default-link-color:                @brand-secondary;
@navbar-default-link-hover-color:          @brand-secondary;
@navbar-default-link-hover-bg:             darken(@brand-primary, 4.5%);
@navbar-default-link-active-color:         @brand-secondary;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

/* Components
-------------------------------------------------- */
@component-active-color :             darken(@brand-secondary, 6.5%);
@component-active-bg :                darken(@brand-primary, 6.5%);
@border-radius-base:        0px;
@border-radius-large:       0px;
@border-radius-small:       0px;
@btn-primary-color:         @brand-secondary;

/* Dropdowns
-------------------------------------------------- */
//** Background for the dropdown menu.
@dropdown-bg:                    @brand-primary;
//** Dropdown menu `border-color`.
@dropdown-border:                @brand-third;
//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       @brand-third;
//** Divider color for between dropdown items.
@dropdown-divider-bg:            darken(@brand-primary, 8.5%);

//** Dropdown link text color.
@dropdown-link-color:            @brand-secondary;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      darken(@brand-secondary, 5%);
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         darken(@brand-primary, 4.5%);

//** Active dropdown menu item text color.
@dropdown-link-active-color:     @component-active-color;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:        @component-active-bg;

//** Disabled dropdown menu item background color.
@dropdown-link-disabled-color:   darken(@brand-primary, 8%);

//** Text color for headers within dropdown menus.
@dropdown-header-color:          darken(@brand-primary, 20%);
